<?xml version="1.0" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="App_Data\Logs\nlogs.log" 
      >

  <!-- 定义日志输出的根目录为web目录的上级目录 -->
  <variable name="logdir" value="${basedir}\..\..\..\..\logs"/>
  
  <!--定义日志的目标/输出-->
  <targets async="true">

    <default-target-parameters
        type="File"
        archiveAboveSize="50485760"
        maxArchiveFiles="50"
        archiveNumbering="Rolling"
        keepFileOpen="false"
        layout="${date:format=HH\:mm\:ss\:ffff}:[${level}] ${callsite} ${onexception:${exception:format=tostring} ${newline}${stacktrace}${newline}"/>

    <!--屏幕彩色打印消息-->
    <target name="console" xsi:type="ColoredConsole"
                    layout="${date:format=HH\:mm\:ss\:ffff}:[${level}] ${message}"/>

    <!--保存至按类名命名的日志文件中 | ${level:uppercase=false:padding=-5} | -->
    <target name="warnLog" xsi:type="File" maxArchiveFiles="30"
                    fileName="${logdir}\${date:format=yyyy_MM}\${date:format=yyyy_MM_dd}_${logger}_${level}.log"
                    layout="${date:format=HH\:mm\:ss\:ffff}: ${message} ${onexception:${exception:format=tostring} ${newline}${stacktrace}${newline}" />

    <target name="infoLog" xsi:type="File" maxArchiveFiles="30"
            fileName="${logdir}\${date:format=yyyy_MM}\${date:format=yyyy_MM_dd}_info_${level}.log"
            layout="${date:format=HH\:mm\:ss\:ffff}:[${logger}] ${message} ${onexception:${exception:format=tostring} ${newline}${stacktrace}${newline}" />

    <target name="debugLog" xsi:type="File" maxArchiveFiles="30"
            fileName="${logdir}\${date:format=yyyy_MM}\${date:format=yyyy_MM_dd}_debug_${level}.log"
            layout="${date:format=HH\:mm\:ss\:ffff}:[${level}][${logger}] ${message} ${onexception:${exception:format=tostring} ${newline}${stacktrace}${newline}" />

   

  </targets>

  <!--

  NOTE：Trace至Debug至一个单独的文件中
  Info一个单独的文件
  Warn开始，全部是独立的文件
  -->
  <rules>
   
    <logger name="*" levels="Trace,Debug" writeTo="console,debugLog" />
    <logger name="*" levels="Info" writeTo="console,infoLog" />
    <logger name="*" minlevel="Warn" writeTo="console,warnLog" />
   
  </rules>
</nlog>